name: Build and Test

on: 
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - 'main'

jobs:
  build-and-test:
    name: Build and Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        os: [windows-2022, ubuntu-latest]

    steps:  
       - uses: actions/checkout@v4  

       - name: 'Install mcpserver.everything.stdio Tool'
         run: dotnet tool install -g mcpserver.everything.stdio@0.7.0-preview-01

       - name: 'Install .NET 8 SDK'
         uses: actions/setup-dotnet@v4
         with:
           dotnet-version: '8.0.x'

       - name: 'Build Solution'
         run: dotnet build -c Release

       - name: 'Test'
         run: dotnet test './test/ModelContextProtocol-SemanticKernel.Tests/ModelContextProtocol-SemanticKernel.Tests.csproj' -c Release
